.git
.cursor
**/.env
!**/.env.example
**/node_modules
backend/vendor
backend/storage/app/public/*
!backend/storage/app/public/.gitignore
backend/storage/app/private/*
backend/storage/framework/*
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/cache/data/.gitignore
!backend/storage/framework/testing/.gitignore
backend/database/*.sqlite
infra/docker/data
frontend/dist
assets
*.md
!docs/railway.md
